#include "/home/jacopo/.xfiles/themes/mocha"

*.foreground:  FOREGROUND
*.background:  BACKGROUND
*.cursorColor: CURSOR
*.color0:      COLOR0
*.color8:      COLOR8
*.color1:      COLOR1
*.color9:      COLOR9
*.color2:      COLOR2
*.color10:     COLOR10
*.color3:      COLOR3
*.color11:     COLOR11
*.color4:      COLOR4
*.color12:     COLOR12
*.color5:      COLOR5
*.color13:     COLOR13
*.color6:      COLOR6
*.color14:     COLOR14
*.color7:      COLOR7
*.color15:     COLOR15

! === Rofi ===

rofi.modi:                           window,drun
rofi.width:                          60
rofi.lines:                          10
rofi.columns:                        2
rofi.font:                           Roboto Mono Regular 12
rofi.bw:                             2
rofi.location:                       0
rofi.padding:                        10
rofi.show-icons:                     true
rofi.terminal:                       termite
rofi.icon-theme:                     Orange-Aurora
rofi.drun-show-actions:              false
