* {
    xbg:    #000000;
    xfg:    #FFFFFF;
    x0:     #101010;
    x8:     #404040;
    x1:     #E84F4F;
    x9:     #D23D3D;
    x2:     #B8D68C;
    x10:    #A0CF5D;
    x3:     #E1AA5D;
    x11:    #F39D21;
    x4:     #7DC1CF;
    x12:    #4E9FB1;
    x5:     #9B64FB;
    x13:    #8542FF;
    x6:     #6D878D;
    x14:    #42717B;
    x7:     #DDDDDD;
    x15:    #DDDDDD;
}
