* {
    xbg:    #1C2023;
    xfg:    #F3F4F5;
    x0:     #1C2023;
    x8:     #747C84;
    x1:     #C7AE95;
    x9:     #C7AE95;
    x2:     #95C7AE;
    x10:    #95C7AE;
    x3:     #AEC795;
    x11:    #AEC795;
    x4:     #AE95C7;
    x12:    #AE95C7;
    x5:     #C795AE;
    x13:    #C795AE;
    x6:     #95AEC7;
    x14:    #95AEC7;
    x7:     #C7CCD1;
    x15:    #F3F4F5;
}
